<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "344ZS6A6T4.com.littlebluebird.*"
        versionCode = "10"
        version     = "2.9.0">
 
    <name>FBPlugin</name>
 
    <description>
        phonegap facebook plugin
    </description>
 
    <author href="http://www.littlebluebird.com" email="bdunklau@yahoo.com">
        Brent Dunklau
    </author>
    
    <gap:plugin name="Facebook Connect">
       <param name="APP_ID" value="470700906355954" />
       <param name="APP_NAME" value="Brent1" />
    </gap:plugin>
 
    
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 
</widget>